{
  "Hangfire": {
    "Title": "Hangfire Dashboard",
    "User": "user",
    "Pass": "pass"
  },
  "ConnectionStrings": {
    "DB_STORE": "connection string",
  },
  "Api": "https://api.example.com",
}
